@import url('https://fonts.cdnfonts.com/css/kandira-personal');
@import "tailwindcss";



.title {
    font-family: 'Kandira PERSONAL', sans-serif;
    font-size: 7rem;
    color: #48A111;
}

.slogan {

    font-family: 'Kandira PERSONAL', sans-serif;
}

.home {
   
    
    background-image: url("https://www.transparenttextures.com/patterns/blu-stripes.png");

     
    background-color: whitesmoke;
    opacity: 0.7;
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(7.4px);
     -webkit-backdrop-filter: blur(7.4px);
}