@import "tailwindcss";

.home {
 
     
    background-color: #519A66;
    opacity: 0.7;
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(7.4px);
     -webkit-backdrop-filter: blur(7.4px);
}